# Checks GitHub for new commits every 2 minutes.

[Unit]
Description=Check GitHub for SIXDOGS updates

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Unit=sixdogs-update.service

[Install]
WantedBy=timers.target
